# Don't track content of these folders
.vscode/  
__pycache__/
logs/
.vs/
test/
cs/packages/
cs/2048_c_sharp/bin/
cs/2048_c_sharp/obj/
cs/RL 2048 GUI/bin/
cs/RL 2048 GUI/obj/
cs/Tests/bin/
cs/Tests/obj/
perf/

# Don't track these extensions
*.pyc
*.json
*.vsp
*.vspx
*.psess
*.pdb
*.exe

# Don't track these files
output.txt